<ion-view view-title="Buscar Recreovías" class="recreovias">
    <div class="bar bar-header">
        <div class="bar bar-header item-input-inset topSearchBar">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Buscar" ng-model="searchRecreovias" ng-change="filter()" ng-model-options='{ debounce: 500 }'>
          </label>
        </div>
    </div>
    <ion-content scroll="false" class="has-header" data-tap-disabled="true">
        <div id="map" data-ng-init="loadMap()"></div>
        <div id="listContainter">
            <div class="card" ng-repeat="recreovia in recreovias">
                <div class="item item-divider">
                    <div>
                        {{recreovia.nombre}}
                        <p>{{recreovia.direccion}}</p>
                    </div>
                    <svg style="width: 24px; height: 24px; margin-right: 10px; margin-bottom: -6px; cursor: pointer;" viewBox="10 10 20 20" ng-click="mostrarEnMapa($index)">
                        <g>
                            <g>
                                <g>
                                    <g>
                                        <path fill="#f96008" d="M20,29c-0.5,0-1-0.3-1.3-0.8L14.5,21c-1.8-3.1-0.9-7.2,2.1-9c1-0.6,2.2-1,3.4-1c2.3,0,4.5,1.2,5.6,3.3
                                            c1.1,2,1.2,4.4,0,6.4c0,0,0,0,0,0.1l-4.3,7.5C21,28.7,20.5,29,20,29z M20,12c-1,0-2,0.3-2.9,0.8c-2.5,1.5-3.3,5-1.7,7.6l4.2,7.3
                                            C19.7,28,19.9,28,20,28c0.1,0,0.3,0,0.4-0.3l4.3-7.4c0,0,0,0,0-0.1c1-1.7,1-3.8,0-5.5C23.8,13.1,22,12,20,12z"/>
                                    </g>
                                    <g>
                                        <path fill="#f96008" d="M20,20c-1.4,0-2.5-1.1-2.5-2.5S18.6,15,20,15s2.5,1.1,2.5,2.5S21.4,20,20,20z M20,16
                                            c-0.8,0-1.5,0.7-1.5,1.5S19.2,19,20,19s1.5-0.7,1.5-1.5S20.8,16,20,16z"/>
                                    </g>
                                </g>
                            </g>
                        </g>                    </svg>
                </div>
                <div class="item item-text-wrap">
                    <svg style="width:24px;height:24px;" viewBox="10 10 20 20" ng-class="recreovia.active">
                        <g>
                            <g>
                                <g>
                                    <g>
                                        <g>
                                            <path d="M25.5,27.5h-11c-1.4,0-2.5-1.1-2.5-2.5v-9c0-1.4,1.1-2.5,2.5-2.5h11c1.4,0,2.5,1.1,2.5,2.5v9
                                                C28,26.4,26.9,27.5,25.5,27.5z M14.5,14.5c-0.8,0-1.5,0.7-1.5,1.5v9c0,0.8,0.7,1.5,1.5,1.5h11c0.8,0,1.5-0.7,1.5-1.5v-9
                                                c0-0.8-0.7-1.5-1.5-1.5H14.5z"/>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M17,15.5c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v2
                                                    C17.5,15.3,17.3,15.5,17,15.5z"/>
                                            </g>
                                            <g>
                                                <path d="M23,15.5c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v2
                                                    C23.5,15.3,23.3,15.5,23,15.5z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <path d="M27,18.5H13c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5H27c0.3,0,0.5,0.2,0.5,0.5S27.3,18.5,27,18.5z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M15.5,25c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.5-0.3-0.7c0-0.3,0.1-0.5,0.3-0.7c0.4-0.4,1-0.4,1.4,0
                                                c0.2,0.2,0.3,0.5,0.3,0.7s-0.1,0.5-0.3,0.7C16,24.9,15.8,25,15.5,25z"/>
                                        </g>
                                        <g>
                                            <path d="M15.5,22c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.4-0.3-0.7c0-0.3,0.1-0.5,0.3-0.7c0.4-0.4,1-0.4,1.4,0
                                                c0.2,0.2,0.3,0.5,0.3,0.7s-0.1,0.5-0.3,0.7C16,21.9,15.8,22,15.5,22z"/>
                                        </g>
                                        <g>
                                            <path d="M18.5,25c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5,0.3-0.7c0.4-0.4,1-0.4,1.4,0
                                                c0.2,0.2,0.3,0.5,0.3,0.7s-0.1,0.5-0.3,0.7C19,24.9,18.8,25,18.5,25z"/>
                                        </g>
                                        <g>
                                            <path d="M18.5,22c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5,0.3-0.7c0.4-0.4,1-0.4,1.4,0
                                                c0.2,0.2,0.3,0.5,0.3,0.7s-0.1,0.5-0.3,0.7C19,21.9,18.8,22,18.5,22z"/>
                                        </g>
                                        <g>
                                            <path d="M21.5,25c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5,0.3-0.7c0.4-0.4,1-0.4,1.4,0
                                                c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7C22,24.9,21.8,25,21.5,25z"/>
                                        </g>
                                        <g>
                                            <path d="M21.5,22c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5,0.3-0.7c0.4-0.4,1-0.4,1.4,0
                                                c0.2,0.2,0.3,0.5,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7C22,21.9,21.8,22,21.5,22z"/>
                                        </g>
                                        <g>
                                            <path d="M24.5,25c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.5-0.3-0.7c0-0.3,0.1-0.5,0.3-0.7c0.4-0.4,1-0.4,1.4,0
                                                c0.2,0.2,0.3,0.5,0.3,0.7s-0.1,0.5-0.3,0.7C25,24.9,24.8,25,24.5,25z"/>
                                        </g>
                                        <g>
                                            <path d="M24.5,22c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5,0.3-0.7c0.4-0.4,1-0.4,1.4,0
                                                c0.2,0.2,0.3,0.5,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7C25,21.9,24.8,22,24.5,22z"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <div class="tableContainer">
                        <table>
                            <tr ng-repeat="horarios in recreovia.horarios">
                                <td ng-if="horarios.dia == 'M'">Martes y Jueves</td>
                                <td ng-if="horarios.dia == 'I'">Miércoles y Viernes</td>
                                <td ng-if="horarios.dia == 'S'">Sábado</td>
                                <td ng-if="horarios.dia == 'D'">Domingos y Festivos</td>
                                <td>{{horarios.s|horarioRecreovia}} - {{horarios.e|horarioRecreovia}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="bar bar-footer">
            <button class="button" ng-click="goToMap()">
               <svg viewBox="10 10 20 20">
                    <g>
                        <path d="M27.987,11.52c0.259,0 0.472,0.213 0.472,0.473l0,14.28c0,0.217 -0.141,0.358 -0.34,0.453l-5.326,1.794l-5.667,-1.983l-5.043,1.955c-0.048,0.028 -0.104,0.028 -0.151,0.028c-0.26,0 -0.473,-0.213 -0.473,-0.472l0,-14.28c0,-0.217 0.142,-0.387 0.34,-0.453l5.327,-1.795l5.667,1.984l5.043,-1.984l0.151,0ZM22.3,27.4l-4.7,-1.5l0,-13.2l4.67,1.712l0.03,12.988ZM16.6,12.7l-4.104,1.4l0,13.2l4.104,-1.4l0,-13.2ZM27.5,12.702l-4.207,1.652l0.007,13.046l4.142,-1.45l0.058,-13.248Z" style="fill:#000;"/>
                    </g>
               </svg>
                MAPA
            </button>
            <button class="button" ng-click="goToList()">
                <svg viewBox="10 10 20 20">
                    <g>
                        <g>
                            <g>
                                <g>
                                    <path fill="#231815" d="M24.5,28.5h-9c-1.4,0-2.5-1.1-2.5-2.5V14c0-1.4,1.1-2.5,2.5-2.5h9c1.4,0,2.5,1.1,2.5,2.5v12
                                        C27,27.4,25.9,28.5,24.5,28.5z M15.5,12.5c-0.8,0-1.5,0.7-1.5,1.5v12c0,0.8,0.7,1.5,1.5,1.5h9c0.8,0,1.5-0.7,1.5-1.5V14
                                        c0-0.8-0.7-1.5-1.5-1.5H15.5z"/>
                                </g>
                                <g>
                                    <g>
                                        <path fill="#231815" d="M23,16.5h-6c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h6c0.3,0,0.5,0.2,0.5,0.5S23.3,16.5,23,16.5z"/>
                                    </g>
                                    <g>
                                        <path fill="#231815" d="M23,20.5h-6c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h6c0.3,0,0.5,0.2,0.5,0.5S23.3,20.5,23,20.5z"/>
                                    </g>
                                    <g>
                                        <path fill="#231815" d="M23,24.5h-6c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h6c0.3,0,0.5,0.2,0.5,0.5S23.3,24.5,23,24.5z"/>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                LISTA
            </button>
        </div>
    </ion-content>
</ion-view>
